.background {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f7f7f7 100%);
	width: 100%;
}

.section_content {
	width: $constraint-main-col;
	margin-inline: auto;
	padding-inline: 8px;
	display: flex;
	align-items: center;
	gap: 32px;
	padding-block: 120px;
}

.main_content {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 16px;

	header {
		display: flex;
		flex-direction: column;
		gap: 4px;

		h5 {
			font-weight: 700;
			font-size: 20px;
			line-height: 32px;
			color: $color-primary-500;
		}
	}
}

.cards_wrapper {
	flex: 2;
	display: flex;
	flex-direction: column;
	gap: 32px;

	> div {
		display: flex;
		gap: 32px;
	}
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 16px;

	background: $color-white;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
	border-radius: 6px;

	.content {
		display: flex;
		flex-direction: column;
		gap: 8px;

		header {
			display: flex;
			flex-direction: column;
			gap: 4px;

			p {
				color: $color-primary-500;
				font-weight: 700;
				font-size: 16px;
			}
		}

		p {
			font-size: 14px;
		}
	}
}
