.wrapper_base {
	display: flex;
	gap: 16px;
	position: relative;
	align-items: flex-start;

	label {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
	}

	input {
		accent-color: $color-primary-500;
	}
}

.error_message {
	position: absolute;
	top: calc(100% + 2px);
	left: 4px;
	font-size: 14px;
	color: $color-quaternary-500;
}
