.container {
	display: flex;
	gap: 24px;
	background-color: $color-white;
	border-radius: 8px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.content {
	padding: 8px;
}

.custom_btn {
	color: $color-primary-400;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}
