.background {
	background: linear-gradient(
		97.85deg,
		$color-primary -5.87%,
		$color-primary-700 118.06%
	);

	.content {
		display: flex;
		justify-content: space-between;

		max-width: $constraint-main-col;
		margin-inline: auto;
		padding-inline: 80px;
		padding-block: 120px;

		h4 {
			color: $color-primary-200;
		}

		h2,
		p {
			color: $color-white;
		}

		section {
			display: flex;
			flex-direction: column;
			width: 385px;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 21px;
			width: 385px;

			button {
				height: 48px;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
