.wrapper {
	overflow: hidden;
	min-width: 200px;
	width: 100%;
	height: 32px;
	position: relative;
}

.slider {
	width: 200%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	left: 0;
	gap: 20px;
	animation: scroll 15s linear infinite;
}

@keyframes scroll {
	0% {
		left: 0;
	}

	100% {
		left: -100%;
	}
}

.element {
	display: flex;
	gap: 8px;
	font-family: $font-roboto;
}

.symbol {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: $color-secondary-800;
}

.price {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: $color-text;
}
